[submodule "external/MenschMachine-java"]
	path = external/MenschMachine-java
	url = https://github.com/MenschMachine/MenschMachine-java.git
[submodule "external/MenschMachine-python"]
	path = external/MenschMachine-python
	url = https://github.com/MenschMachine/MenschMachine-python.git
[submodule "external/MenschMachine-typescript"]
	path = external/MenschMachine-typescript
	url = https://github.com/MenschMachine/MenschMachine-typescript.git
